<h3>Catalogue</h3>
<script type="text/javascript" src="/js/jquery.fancytree.min.js"></script>
<div class="col-md-3">
<ul id="tree" class="ui-fancytree fancytree-container fancytree-treefocus">
	<li>About</li>
	<li>Variables
	<ul id="variables">
	</ul>
	</li>
</ul>
</div>
<div class="col-md-9">
	<div id="content-panel"></div>
</div>
<script type="text/javascript">
	function acceptableValues(variable) {
		
	}
	function variableDescription(variable) {
		$.getJSON("/api/v2/LifeCycle_CoreVariables/" + variable, function(variable) {
			var innerHtml = "<h4>" + variable.name + " description</h4>"
			innerHtml += "<table id=\"harmonisations\" class=\"table table-striped table-condensed table-bordered molgenis-table\">"
			innerHtml += "<tr><td>Variable: </td><td>" + variable.variable + "</td></tr>"
			if (variable.values.length > 0) {
				var values = variable.values.map(function(item) { return item.code + ": " + item.value }).join(", ")
				innerHtml += "<tr><td>Acceptable values: </td><td>" + values + "</td></tr>"
			}
			innerHtml += "<tr><td>Data type: </td><td>" + variable.datatype.label + "</td></tr>"
			innerHtml += "<tr><td>Description: </td><td>" + variable.description + "</td></tr>"
			innerHtml += "<tr><td>Comments: </td><td>" + variable.comments + "</td></tr>"
			innerHtml += "</table>"
			$("#description").replaceWith(innerHtml)
		});
		
	}
	
	function variableHarmonization(variable) {
		$("#harmonisations").replaceWith("<h4>Harmonizations</h4><table id=\"harmonisations\" class=\"table table-striped table-condensed table-bordered molgenis-table\"><thead><tr><td>Cohort</td><td>Variables</td><td>Description</td><td>Status</td></tr></thead></table>")
		$.getJSON("/api/v2/LifeCycle_Harmonizations?q=target==" + variable, function(response) {
			for (i = 0; i < response.items.length; i++) {
				var item = response.items[i]
				var cohort = item.sourceLabel
				var sources = item.sources.map(function(item) { return item.variable }).join(", ")
				var description = item.description
				var status = item.status.label
				$("#harmonisations").append("<tr><td>" + cohort + "</td><td>" + sources + "</td><td>" + description + "</td><td>" + status + "</td></tr>")
			}			
		});
	}
	
	function variablePanel(variable) {
		$("#content-panel").replaceWith('<div id="content-panel"><div id="description"></div><div id="harmonisations"></div></div>')
		variableDescription(variable)
		variableHarmonization(variable)
	}
	function addCategoryItem(id, item) {
		$(id).append("<li>" + item.label + "<ul id=" + item.id + " ></ul></li>")
	}
	
	function addSources(response) {
		for (i = 0; i < response.items.length; i++) {
			var item = response.items[i]
			var target = item.target.variable
			var cohort = item.cohort.label
			$("#" + target).append("<li>" + cohort + "</li>")
		}
	}

	function getHarmonizations(item) {
		$.getJSON("/api/v2/LifeCycle_Harmonizations?q=target==" + item, addSources)		
	}
	
	function addVariables(response) {
		for (i = 0; i < response.items.length; i++) {
			var item = response.items[i]
			var category = item.category.id
			var variable = item.name
			var id = item.variable
			$("#" + category).append("<li><span onclick='variablePanel(\"" + id + "\")'>" + variable + "</span><ul  id=" + variable + "></ul></li>")
			getHarmonizations(id)
		}
	}
	
	function getVariables(item) {
		$.getJSON("/api/v2/LifeCycle_CoreVariables?q=category==" + item.id, addVariables)
	}
	
	function buildMenu(response) {
		for (i = 0; i < response.items.length; i++) {
			var item = response.items[i]
			if (typeof item.parent !== 'undefined') {
				addCategoryItem("#" + item.parent.id, item)
				getVariables(item)
			} else {
				addCategoryItem("#variables", item)
				getVariables(item)
			}
		}
	}
	$.getJSON("/api/v2/LifeCycle_Categories", buildMenu);
</script>