<h3>Catalogue</h3>
<div class="col-md-3">
	<div id="tree"></div>
</div>
<div class="col-md-9">
	<div id="content-panel"></div>
</div>
<script type="text/javascript" src="/js/jquery.fancytree.min.js"></script>
<script type="text/javascript">
	
	function createMenu(items, path) {
		var menu = [];
		items.sort(function(lhs, rhs) { return lhs.position - rhs.position });
		for (i = 0; i < items.length; i++) {
			var item = items[i];
			if (path === '') {
				key = item.id
			} else {
				key = path + '#' + item.id
			}
			menu[i] = {
				title: item.label,
				key: key,
				lazy: true,
				folder: true
			}
		}
		return menu;
	}
	function getCategoryById(categories, id) {
		for (i = 0; i < categories.length; i++) {
			if (categories[i].id === id) {
				return categories[i]
			}
		}
		return null
	}

	function loadMenu(event, data) {
		var node = data.node
		var path = node.key
		var keys = path.split("#")
		var depth = keys.length
		var deferred = $.Deferred()
		data.result = deferred.promise()
		switch (depth) {
		case 1:
			$.getJSON("/api/v2/LifeCycle_Categories", function(response) {
				$.getJSON("/api/v2/LifeCycle_CoreVariables?q=group==" + keys[0], function(variables) {
					var categories = []
					for (i = 0; i < variables.items.length; i++) {
						if (variables.items[i].category !== undefined) {
							var category = getCategoryById(response.items, variables.items[i].category.id);
							if (category !== null && categories.indexOf(category) == -1) {
								categories[categories.length] = category
							}
						} else {
							categories[categories.length] = variables.items[i]
						}
					}
					deferred.resolve(createMenu(categories, path));
				});
			});
			break;
		case 2:
			var promise =	$.getJSON("/api/v2/LifeCycle_CoreVariables?q=group==" + keys[0] + ";category==" + keys[1], function(response) {
				deferred.resolve(createMenu(response.items, path))
			});
			break;
		default:
			console.log("An error occurred while fetch data.");
		}
	}
	
	$.getJSON("/api/v2/LifeCycle_Groups", function(response){
		var menu = createMenu(response.items, '')
		$("#tree").fancytree({
			source: menu,
			lazyLoad: loadMenu
		})
	})
</script>