<h3>Catalogue</h3>
<div class="col-md-3">
	<div id="tree"></div>
</div>
<div class="col-md-9">
	<div id="content-panel"></div>
</div>
<script type="text/javascript" src="/js/jquery.fancytree.min.js"></script>
<script type="text/javascript">
	function buildKey(path, id) {
		var key
		if (path === '') {
			key = id
		} else {
			key = path + '#' + id
		}
		return key
	}

	function createMenu(items, path) {
		var menu = [];
		items.sort(function(lhs, rhs) { return lhs.position - rhs.position });
		for (i = 0; i < items.length; i++) {
			var item = items[i];
			if (item.variable !== undefined) {
				menu[i] = {
					title: item.label,
					key: buildKey(path, item.variable),
					lazy: false,
					folder: false
				}
			} else {
				menu[i] = {
					title: item.label,
					key: buildKey(path, item.id),
					lazy: true,
					folder: true
				}
			}
		}
		return menu;
	}
	
	function getCategoryById(categories, id) {
		for (i = 0; i < categories.length; i++) {
			if (categories[i].id === id) {
				return categories[i]
			}
		}
		return null
	}
	
	function buildPath(keys) {
		var path = "/api/v2/LifeCycle_CoreVariables";
		switch (keys.length) {
		case 1:
			path += "?q=group==" + keys[0];
			break;
		case 2:
			path += "?q=group==" + keys[0] + ";category==" + keys[1];
			break;
		default:
			console.log("Unexpected tree depth")
		}
		return path;
	}
	
	function selectMenuItem(item, categories) {
		if (item.category !== undefined) {
			var category = getCategoryById(categories, item.category.id);
			if (category !== null) {
				return category
			}
		}
		return item		
	}

	function lazyLoadMenu(event, data) {
		var node = data.node
		var path = node.key
		var keys = path.split("#")
		var depth = keys.length
		var deferred = $.Deferred()
		data.result = deferred.promise()
		$.getJSON("/api/v2/LifeCycle_Categories", function(categories) {
			url = buildPath(keys)
			$.getJSON(url, function(variables) {
				var menuItems = []
				if (keys.length === 2) {
					menuItems = variables.items
				} else {
					for (i = 0; i < variables.items.length; i++) {
						var menuItem = selectMenuItem(variables.items[i], categories.items)
						if (menuItems.indexOf(menuItem) == -1) {
							menuItems[menuItems.length] = menuItem
						}
					}					
				}
				deferred.resolve(createMenu(menuItems, path));
			});
		});
	}

	function tableRow(values) {
		if (values == undefined) {
			return null
		}
		var row = "<tr>"
		row += values.map(function(value) { return "<td>" + value + "</td>"}).join("")
		row += "</tr>"
		return row
	}

	function variableDescription(variable, future) {
		$.getJSON("/api/v2/LifeCycle_CoreVariables/" + variable, function(variable) {
			var innerHtml = "<h4>" + variable.label + " description</h4>"
			innerHtml += "<table id=\"harmonisations\" class=\"table table-striped table-condensed table-bordered molgenis-table\">"
			innerHtml += tableRow(["Variable:", variable.variable]);
			if (variable.values.length > 0) {
				var values = variable.values.map(function(item) { return item.code + ": " + item.value }).join(", ")
				innerHtml += tableRow(["Acceptable values:", values]);
			}
			innerHtml += tableRow(["Data type:", variable.datatype.label]);
			innerHtml += tableRow(["Description:", variable.description]);
			if (variable.comments !== undefined) {
				innerHtml += tableRow(["Comments:", variable.comments]);
			}
			innerHtml += "</table>"
			future.resolve(innerHtml)
		});
		
	}
	
	function variableHarmonization(variable, future) {
		$.getJSON("/api/v2/LifeCycle_Harmonizations?q=target==" + variable, function(response) {
			var html = response.items.map(function(item) {
				var sources = item.sources.map(function(item) { return item.variable }).join(", ");
				return tableRow([item.sourceLabel, sources, item.description, item.status.label]);
			}).join("");
			future.resolve(html);
		});
	}
	
	function createDetailsPanel(description, harmonization) {
		var html = '<div id="content-panel">'
		html += '<div id="description">'
		html += description
		html += '</div>'
		html += '<div style=\"overflow-y: scroll; height:400px;\">'
		html += '<h4>Harmonizations</h4>'
		html += '<table id=\"harmonizations\" class=\"table table-striped table-condensed table-bordered molgenis-table\">'
		html += '<thead>'
		html += tableRow(['Cohort', 'Variables', 'Description', 'Status'])
		html += '</thead>'
		html += harmonization
		html +='</table>'
		html +='</div>'
		html +='</div>'
		$	("#content-panel").replaceWith(html)
	}
	
	function showDetails(event, data) {
		var keys = data.node.key.split("#")
		if (data.node.isFolder() == false) {
			var variable = keys[keys.length -1];
			var futureDescription = $.Deferred();
			var futureHarmonization = $.Deferred();
			variableDescription(variable, futureDescription);
			variableHarmonization(variable, futureHarmonization);
			$.when(futureDescription, futureHarmonization).then(createDetailsPanel)
		}
	}
	
	$.getJSON("/api/v2/LifeCycle_Groups", function(response){
		var menu = createMenu(response.items, '')
		$("#tree").fancytree({
			source: menu,
			lazyLoad: lazyLoadMenu,
			activate: showDetails,
			extraClasses: 'molgenis-tree',
			icon: true
		})
	})
</script>