<!DOCTYPE html>
<html>
<head>
	<title>LifeCycle Catalogue</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/img/molgenis.ico?aZ8Mvg" type="image/x-icon">
	<link rel="stylesheet" href="/css/bootstrap.min.css?3Jsy-A" type="text/css">
	<link rel="stylesheet" href="/css/molgenis.css?mrwzXg" type="text/css">
	<link rel="stylesheet" href="/css/bootstrap-basic.min.css?U6qr7Q" type="text/css"
				id="bootstrap-theme">
	<link rel="stylesheet" href="/css/ui.fancytree.min.css" type="text/css" />
	<script src="/js/es6-promise.min.js?2C_iKw"></script>
	<script src="/js/promise-done-6.1.0.min.js?9yyxjg"></script>
	<script src="/js/dist/molgenis-vendor-bundle.js?Eu6gaw"></script>
	<script src="/js/dist/molgenis-global.js?IQM_bQ"></script>
	<script src="/js/dist/molgenis-global-ui.js?6MA0Xg"></script>
	<script src="/js/jquery.validate.min.js?Vj0AqQ"></script>
	<script src="/js/handlebars.min.js?gdJCRw"></script>
	<script src="/js/molgenis.js?o0OYGQ"></script>
	<script src="/js/script-evaluator.js?QEORpg"></script>
	<script type="text/javascript" src="/js/jquery.fancytree.min.js"></script>
	<script>
			top.molgenis.setCookieWall(false);
					top.molgenis.setContextUrl('\/menu/main/home');
					top.molgenis.setPluginId('home');
	</script>
	<script src="lifecycle.js" type="text/javascript"></script>
</head>
<body>
		<nav class="navbar navbar-default navbar-fixed-top" style="margin-bottom: 10px" role="navigation">
				<div class="container-fluid">
						<div class="navbar-header">

												<a class="navbar-brand" href="/menu/main/home">
														<img class="img-responsive" style="max-width:100%;max-height:100%;"
																 src="/logo/cropped-lifecycle_logo-1.png"
																 alt="LifeCycle Catalogue">
												</a>
												<button type="button" class="navbar-toggle" data-toggle="collapse"
																data-target="#bs-molgenis-navbar">
														<span class="sr-only">Toggle navigation</span>
														<span class="icon-bar"></span>
														<span class="icon-bar"></span>
														<span class="icon-bar"></span>
												</button>
						</div>

						<div class="collapse navbar-collapse" id="bs-molgenis-navbar">
								<ul class="nav navbar-nav">
									<li><a href="about.html">About</a></li>
									<li><a href="cohorts.html">Cohorts</a></li>
									<li><a href="abbreviations.html">Abbreviations</a></li>
								</ul>

										<form class="navbar-form navbar-right" method="post" action="/login">
												<a id="open-button" type="btn" class="btn btn-default" data-toggle="modal"
													 data-target="#login-modal">Sign in</a>
										</form>


						</div>

				</div> 
		</nav> 

	<div class="container-fluid">
			<div class="row">
					<div class="col-md-12">
							<div id="login-modal-container-header"></div>
					</div>
			</div>

			<div class="row">
					<div class="col-md-12">
							<div class="alerts">

							</div>
					</div>
			</div>
		<div class="row">
			<div class="col-md-12">
				<div id="plugin-container">
					<div class="col-md-3">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h4 class="panel-title">Catalogue</h4>
							</div>
							<div class="panel-body">
								<div id="tree" class="molgenis-tree"></div>
								<script type="text/javascript">
									init();
								</script>
							</div>
						</div>
					</div>
					<div class="col-md-9">
						<div id="content-panel"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
